@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calendar</h2>
<div id="calendar"></div>

<!-- Modal FORM -->

<div class="modal fade" id="myModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Aggiungi/Modifica Appuntamento</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        @*<label>Quando</label>*@
                        <label id="when"></label>
                    </div>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker'>
                            <input type='text' class="form-control" id='apptStartTime' />
                        </div>
                        <div class='input-group date' id='datetimepicker'>
                            <input type='text' class="form-control" id='apptEndTime' />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Cliente</label>
                        <div class="tt-container">
                            <input id="cliente" name="cliente" data-rule-validCliente="true" required type="text" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Trattamento</label>
                        <div class="tt-container">
                            <input id="trattamento" name="trattamento" data-rule-validTrattamento="true" required type="text" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <ul id="trattamenti" class="list-group"></ul>
                        </div>
                    </div>
                    <input type="hidden" id="appuntamento_id" />
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Annulla
                </button>
                <input id="button_salva" class="btn btn-primary" type="submit" value="Salva" />
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/fullcalendar")
    @Styles.Render("~/Content/css/fullcalendar")
    @Scripts.Render("~/bundles/datetimepicker")
    @Styles.Render("~/Content/css/datetimepicker")

    <script>
        $(document).ready(function () {

            $('#apptStartTime').datetimepicker({
                format: "HH:mm"
            });
            $('#apptEndTime').datetimepicker({
                format: "HH:mm"
            });

            var vm = {
                TrattamentiIds: []
            };

            var clienti = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('nome'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/cliente?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#cliente').typeahead(
                {
                    minLength: 0,
                    highlight: true
                },
                {
                    name: 'cliente',
                    display: function (item) { return item.Nome + ' ' + item.Cognome },
                    source: clienti
                }).on("typeahead:select", function (e, cliente) {
                    vm.ClienteId = cliente.Id;
                }
                );

            var trattamenti = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('nome'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/trattamento?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#trattamento').typeahead(
                {
                    minLength: 0,
                    highlight: true
                },
                {
                    name: 'trattamento',
                    display: 'Nome',
                    source: trattamenti
                }).on("typeahead:select", function (e, trattamento) {
                    $("#trattamenti").append("<li class='list-group-item'>" + trattamento.Nome +
                        "<span onclick='rimuoviTrattamento(" + trattamento.Id + ");' class='glyphicon glyphicon-remove' style='float: right; color: red;'></span></li>");

                    $("#trattamento").typeahead("val", "");

                    vm.TrattamentiIds.push(trattamento.Id);
                }
                );

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaWeek,agendaDay,listWeek' //month
                },
                minTime: "07:00:00",
                maxTime: "21:00:00",
                slotDuration: '00:15:00',
                //defaultDate: '2017-10-12',
                defaultView: 'agendaWeek',
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectHelper: true,
                select:
                    function (start, end) {
                        starttime = $.fullCalendar.formatDate(start, 'HH:mm');
                        endtime = $.fullCalendar.formatDate(end, 'HH:mm');
                        var mywhen = $.fullCalendar.formatDate(start, 'DD/MM/YYYY');

                        $('#myModalForm #apptStartTime').val(starttime);
                        $('#myModalForm #apptEndTime').val(endtime);
                        $('#myModalForm #when').text(mywhen);
                        $('#myModalForm #appuntamento_id').val();
                        $('#myModalForm #cliente').val("");
                        $("#trattamenti li").remove()

                        $('#myModalForm').modal('show');

                        $('#calendar').fullCalendar('unselect');
                    },
                editable: true,
                eventClick:
                    function (event, jsEvent, view) {
                        starttime = $.fullCalendar.formatDate(event.start, 'HH:mm');
                        endtime = $.fullCalendar.formatDate(event.end, 'HH:mm');
                        var mywhen = $.fullCalendar.formatDate(event.start, 'DD/MM/YYYY');

                        $('#myModalForm #apptStartTime').val(starttime);
                        $('#myModalForm #apptEndTime').val(endtime);
                        $('#myModalForm #when').text(mywhen);
                        $('#myModalForm #appuntamento_id').val(event.id);
                        $('#myModalForm #cliente').val(event.title);
                        vm.ClienteId = event.cliente_id;

                        $.get("api/Trattamento/GetTrattamentiByAppuntamento", event.id)
                            .done(function (data) {
                                $.each(data, function (key, value) {
                                    $("#trattamenti").append("<li class='list-group-item'>" + value.Nome +
                                        "<span onclick='rimuoviTrattamento(" + value.Id + ");' class='glyphicon glyphicon-remove' style='float: right; color: red;'></span></li>");

                                    vm.TrattamentiIds.push(value.Id);
                                });
                            });

                        $('#myModalForm').modal('show');
                        $('#myModalForm').modal('show');

                        $('#calendar').fullCalendar('unselect');
                    },
                businessHours: {
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    dow: [1, 2, 3, 4, 5], // Monday - Friday
                    start: '8:30', // a start time (8.30am)
                    end: '18:00', // an end time (6pm)
                },
                eventConstraint: {
                    dow: [1, 2, 3, 4, 5], // Monday - Friday
                    start: '8:30', // a start time (8.30am)
                    end: '18:00', // an end time (6pm)
                },
                eventLimit: true, // allow "more" link when too many events
                events: 'api/Appuntamento'
            });

            //submit
            $("#button_salva").click(function (e) {

                var apiurl = "api/Appuntamento/PostAppuntamento";

                if ($('#myModalForm #appuntamento_id').val() != "")
                    vm.Appuntamentoid = $('#myModalForm #appuntamento_id').val();

                vm.Datainizio = $('#myModalForm #when').text() + " " + $('#myModalForm #apptStartTime').val() + ":00";
                vm.Datafine = $('#myModalForm #when').text() + " " + $('#myModalForm #apptEndTime').val() + ":00";

                $.post(apiurl, vm)
                    .done(function () {
                        alert("Saved Successfully");
                        //document.getElementById("formAppuntamento").reset();
                    });

            });



        });

        function rimuoviTrattamento(id) {
            console.log(id);
        }
    </script>
}